@if (product(); as product) {
    <div>
        <h3>{{product.name | uppercase}}</h3>
        @if (product.imageUrl) {
            <img style="float:right" [src]="product.imageUrl" width="250" />
        }
        <h3>{{product.description}}</h3>
        <p>Price: {{product.price | currency:'CAD':'symbol-narrow':'.2'}}</p>
        <p>Fixed price? {{product.fixedPrice}}</p>
        <p>Discontinued? {{product.discontinued}}</p>
        <p>Modified date:
            {{product.modifiedDate | date}}</p>
        <button (click)="confirm.showModal()">Delete Product</button>
        <dialog #confirm>
          <p>Delete this product ?</p>
          <div class="right">
            <button (click)="deleteProduct(product.id)" autofocus>Ok</button>
            &nbsp;
            <button (click)="confirm.close()">Cancel</button>
          </div>
        </dialog>

    </div>
} @else {
    <div class="loading"></div>
}
